@import "tailwindcss";

.leaflet-container {
  height: 100%;
  width: 100%;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.bus-marker-container {
  position: relative;
  width: 40px;
  height: 40px;
}

.bus-marker-ring {
  border: 3px solid #3b82f6;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.bus-marker-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background: #2563eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
}